.root {
    /* background-color: rgb(199, 236, 224); */
    background: hsla(339, 100%, 55%, 1);
    background: linear-gradient(45deg, hsla(339, 100%, 55%, 0.7) 10%, hsla(240, 100%, 60%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(339, 100%, 55%, 0.7) 10%, hsla(240, 100%, 60%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(339, 100%, 55%, 0.7) 10%, hsla(240, 100%, 60%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#3333FF", GradientType=1 );
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-family: ui-monospace;
    color: white;
}

.logo2 {
    color: #33ff;
    font-size: 2.1rem;
}

.connect_btn {
    background-color: white;
    color: #33ff;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    cursor: pointer;
}